ol, ul {
	list-style: none;
}

/* home */
.img-container {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    margin-top: 1.2vw;
}

footer {
    padding: 2.3vw 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.insta {
    width: 1.3vw;
    height: 1.3em;
    margin: 1.9vw;
}


/* shop */
.nav {
    padding: 1.2vw 0;
}
.nav-item {
    font-size: 0.9vw;
}
.product-container {
    display: flex;
    padding: 1vw 0;
    justify-content: center;
}
.product-img {
    width: 20vw;
}
.detail-link {
    color: black;
    text-decoration-line: none;
}
.products {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.2vw;
    grid-column-gap: 1.2vw;
    padding-inline-start: 0;
}
.prod-name {
    font-size: 1vw;
    width: 20vw;
    margin: 0;
}
.origin-price {
    font-size: 0.8vw;
    text-decoration: line-through;
    margin: 0px;
}
.sale-price {
    font-size: 1vw;
    margin: 0px;
}
.discount-rate {
    color: red;
}

/* 상세페이지 */
.detail-container {
    display: flex;
    padding: 30px 100px;
    gap: 40px;
}
.detail-img {
    width: 45%;
    height: auto;
}
.detail-content {
    padding: 0px 50px;

}
.detail-origin-price {
    font-size: 16px;
    text-decoration-line: line-through;
    margin: 0px;
}
.detail-sale-price {
    font-size: 20px;
    margin: 0px;
}